# Shared
SOLANA_RPC_URL=https://api.devnet.solana.com
ANCHOR_WALLET=~/.config/solana/id.json
MERIDIAN_PROGRAM_KEYPAIR=keys/meridian-program.json
MERIDIAN_PROGRAM_ID=2xETnXSFhwUs9c1BJZHwWib2jQMnYdUGL3QbtewVfA2y
MERIDIAN_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
MERIDIAN_PHOENIX_PROGRAM_ID=PhoeNiXZ8ByJGLkxNfZRnkUfjvmuYqLR89jjFHGqdXY
MERIDIAN_PYTH_RECEIVER_PROGRAM_ID=rec5EKMGg6MxZYaMdyBfgwp4d5rB9T1VQH5pJv5LtFJ
MERIDIAN_PYTH_PRICE_PROGRAM_ID=pythWSnswVUd12oZpeFP8e9CVaEqJg25g1Vtc2biRsT

# Frontend
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_MERIDIAN_PROGRAM_ID=2xETnXSFhwUs9c1BJZHwWib2jQMnYdUGL3QbtewVfA2y
NEXT_PUBLIC_MERIDIAN_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
NEXT_PUBLIC_MERIDIAN_PHOENIX_PROGRAM_ID=PhoeNiXZ8ByJGLkxNfZRnkUfjvmuYqLR89jjFHGqdXY
NEXT_PUBLIC_MERIDIAN_PYTH_RECEIVER_PROGRAM_ID=rec5EKMGg6MxZYaMdyBfgwp4d5rB9T1VQH5pJv5LtFJ

